body{
    font-family: 'Open Sans', sans-serif;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
    
}
.nav-title{
color: var(--Dark-01, #181818);
font-size: 45px;
font-style: normal;
font-weight: 800;
line-height: normal;
}

.text-primary{
    color:blue;
}
.btn{
    color: #FFF8F3;
    border-radius: 5px;
    background-color: blue;
    border: 0;
    font-size: 20px;
    font-weight: 700;
    padding: 10px 28px;
}

nav > ul{
    display: flex;
    align-items: center;
}

.header{
    background-color: #FFF8F3;;
}

nav li{
    list-style: none;
    margin-right: 50px;
}
.li1{
    text-decoration: none;
    color: #181818;
}
.li2{
    text-decoration: none;
    color: #181818;
}
.li3{
    text-decoration: none;
    color: white;
}
.banner{
    padding: 30px 30px 150px;
    display: flex;
    align-items: center;
}
.banner .profile{
    width: 584px;
height: 676px;
}